.content {
    text-align: center;
    margin: 10%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.content .content-header {
    font-weight: 800;
    font-size: 65px;
    line-height: 60px;
}

.content .content-description {
    line-height: 30px;
    font-weight: 400;
}

.content .content-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px 20px;
}

.content .content-buttons button {
    font-weight: 400;
    font-size: 20px;
    height: 50px;
}

.content .content-buttons button .material-symbols-outlined {
    background-color: transparent;
    vertical-align: middle;
}